.color-white{
  color:$color-white;
}
.color-primary-100 {
  color: $color-primary-100;
}
.color-primary-200 {
  color: $color-primary-200;
}
.color-primary-300 {
  color: $color-primary-300;
}
.color-primary-400 {
  color: $color-primary-400;
}
.color-primary-500 {
  color: $color-primary-500;
}
.color-primary-600 {
  color: $color-primary-600;
}
.color-primary-700 {
  color: $color-primary-700;
}
.color-primary-800 {
  color: $color-primary-800;
}
.color-primary-900 {
  color: $color-primary-900;
}

.color-secondary-green{
 color:$color-secondary-green;
}
.color-secondary-red{
 color:$color-secondary-red;
}
.color-secondary-purple{
 color:$color-secondary-purple;
}
.color-secondary-salmon{
 color:$color-secondary-salmon;
}
.color-secondary-dark{
 color:$color-secondary-dark;
}

