.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.4rem;
}

.table {
  display: table;
  width: 100%;
  @include mq(md, max) {
    display: block;
  }

  &-row {
    display: table-row;
    align-items: center;
    justify-content: center;
    @include mq(md, max) {
      display: block;
    }
  }

  &-cell {
    display: table-cell;
    padding: 2.4rem 0;
    @include mq(md, max) {
      display: block;
      text-align: center;
    }
  }
}

.text {
  &-top {
    vertical-align: top !important;
  }

  &-center {
    text-align: center !important;
  }
}

.imageDetails--profile {

  .sliderDetail {
   left: 0;

   @include mq(xxl, max) {
    left: -150px;
   }
   @include mq(xl, max) {
    left: -120px;
   }
  }

  .slick-prev, .slick-next {
    z-index: 99;
  }

  .slick-list {
    overflow: visible !important;

    // &:after {
    //   content: '';
    //   width: 100%;
    //   height: 100%;
    //   position: absolute;
    //   right: -100%;
    //   top: 0;
    //   z-index: 1;
    //   background-color: transparent;
    // }

    // &:before {
    //   content: '';
    //   width: 100%;
    //   height: 100%;
    //   position: absolute;
    //   left: -100%;
    //   top: 0;
    //   z-index: 999;
    //   background-color: transparent;
    // }

    .slick-track {
      display: flex;
      align-items: center;
    }
  }

  .slick-slider {
    border: 0px solid #000;
  }
}

.sliderDetailContent {
  .slick-list {
    overflow: visible !important;

    &:after {
      display: none;
    }
  }

  .slick-prev, .slick-next {
    z-index: 10;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background-color: #fff !important;
  }

  .slick-prev {
    background-image: url(~@/assets/img/icon-arrow_left.svg);
    background-position: 7px 6px;
    background-repeat: no-repeat;
    top: 187px;
    left: 20px;

    @include mq(lg, max) {
      top: 130px;
    }

    &::before {
      color: transparent;
    }

    &:hover {
      background-image: url(~@/assets/img/icon-arrow_left.svg);
      background-position: 7px 6px;
      background-repeat: no-repeat;
    }

    &:focus {
      background-image: url(~@/assets/img/icon-arrow_left.svg);
      background-position: 7px 6px;
      background-repeat: no-repeat;
    }
  }

  .slick-next {
    background-image: url(~@/assets/img/icon-arrow_left.svg);
    background-position: 7px 6px;
    background-repeat: no-repeat;
    transform: scaleX(-1);
    top: 175px;
    right: 25px;

    @include mq(lg, max) {
      top: 118px;
    }

    &::before {
      color: transparent;
    }

    &:hover {
      background-image: url(~@/assets/img/icon-arrow_left.svg);
      background-position: 7px 6px;
      background-repeat: no-repeat;
    }

    &:focus {
      background-image: url(~@/assets/img/icon-arrow_left.svg);
      background-position: 7px 6px;
      background-repeat: no-repeat;
    }
  }

  &-footer {
    text-align: left;
    padding: 3.2rem;

    .credits-bookmark {
      display: flex;
      justify-content: space-between;

      .credits {
        padding: 1rem 0 0 0;
      }

      .bookmark {
        img {
          margin-top: 10px;
          width: 1.5rem !important;
          height: auto !important;
          border-radius: 0 !important;
        }
      }
    }
  }
}

.hide-on-md-up {
  @include mq(md, min) {
    display: none;
  }
}
.hide-on-md-down {
  @include mq(xxl, max) {
    display: none;
  }
}

.hide-on-mobile-only {
  @include mq(sm, max) {
    display: none;
  }
}
.show-on-mobile-only{
  @include mq(md, min) {
    display: none;
  }
  @include mq(sm, max) {
    display: inherit;
  }
}
