* {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

html {
  font-size: 62.5%;
}

body {
  @include font-text;

  @media only screen and (max-width: 320px) {
    min-width: 320px;
  }
}

input {
  font-family: inherit;
  border: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.main {
  flex: 1;
}

.page-container {
  display: flex;
  position: relative;
  min-height: 700px;
}

.page-content {
  width: 100%;

  @media only screen and (max-width: 950px) {
    padding-top: 30px;
  }
}

.texture .tooltip .slick-list {
  width: 50rem;
  left: -5rem;
  top: 2rem;
}
.hdr-gallery .texture .tooltip .slick-list {
  width: 71.2rem;
  left: 0;
}

