.bookmark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 24rem;
  width: 100%;
  padding: 0 5rem 0 8rem;
  margin-bottom: 20px;

  @media only screen and (max-width: 1000px) {
    padding: 0 5rem 0 3rem;
  }

  @media only screen and (max-width: 450px) {
    padding: 1.5rem 3rem 1.5rem 3rem;
    flex-wrap: wrap;
    flex-direction: row;
  }

  &__select {
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #9093B9;
    border-radius: 30%;
    cursor: pointer;

    @include transition-base;

    &--selected {
      background: $color-secondary-green url(~assets/img/icon-check_thin.svg) no-repeat center/contain;
      background-size: 11px;
      border: none;
    }

    @media only screen and (max-width: 900px) {
      width: 2.2rem;
      height: 2.2rem;
      min-width: 2.2rem;
      background-size: 1rem;
    }
  }

  &__img {
    width: 20rem;
    margin-left: 2rem;

    @include transition-base;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__desc {
    width: 20rem;
    font-size: 2.4rem;
    font-weight: bold;
    color: $color-primary-700;

    @media only screen and (max-width: 1170px) {
      font-size: 1.8rem;
    }

    @media only screen and (max-width: 900px) {
      font-size: 1.3rem;
    }

    @media only screen and (max-width: 450px) {
    margin: 10px 0;
    text-align: center;
    }
  }

  &__part {
    display: flex;
    align-items: center;
    width: 100%;

    @media only screen and (max-width: 450px) {
      display: block;
    }

    &:first-child {
      @media only screen and (min-width: 450px) {
        flex: 1;
        max-width: 75rem;
        width: auto;
      }
    }

    &:last-child {
      flex: 1;
      justify-content: center;
      max-width: auto;
      margin-left: 0;
      text-align: center;

      @media only screen and (min-width: 450px) {
        justify-content: space-between;
        max-width: 24rem;
        margin-left: 4rem;
        text-align: left;
      }
    }

    &__left {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10rem;
      width: 100%;

      @media only screen and (max-width: 900px) {
        margin-right: 2rem;
      }

      @media only screen and (min-width: 900px) {
        flex: 1;
        max-width: 28rem;
        justify-content: space-between;
        width: auto;
      }
    }
  }

  &__cost {
    font-size: 2.4rem;
    font-weight: bold;
    margin-right: 10px;
    @media only screen and (max-width: 1170px) {
      font-size: 1.8rem;
    }

    @media only screen and (max-width: 900px) {
      font-size: 1.3rem;
    }
  }

  &__btn {
    font-size: 1.4rem;
    color: $color-secondary-salmon;
    cursor: pointer;
  }
}


