.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5.6rem;

  @include mq(md, max) {
    display: flex;
    overflow-x: scroll;
    margin-top: 8rem;
    margin-right: -2.4rem;
    margin-left: -2.4rem;
    padding: 8rem 2.4rem 0;
  }

  &.view-four {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2.5rem;
  }

  &:after {
    display: none;
    flex: 0 0 2.4rem;
    width: 2.4rem;
    height: 2.4rem;
    content: "";

    @include mq(md, max) {
      display: block;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4.8rem;
  cursor: pointer;
  border-radius: $br-box-small;
  background-color: $color-white;

  @include transition-base;
  @include mq(md, max) {
    flex: 0 0 24rem;
    padding: 4rem 2.4rem 3.2rem 2.4rem;
  }

  & + .card {
    @include mq(md, max) {
      margin-left: 2.4rem;
    }
  }

  &:hover {
    box-shadow: 0 1rem 2.4rem rgba($color-primary-900, .3);
  }

  &.view-margin {
    margin-top: 60%;

    @include mq(md, max) {
      margin-top: 0;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    // min-height: 36.8rem;
  }

  &__img {
    position: relative;
    margin-top: -50%;
    margin-bottom: 6rem;

    img {
      display: block;
      position: relative;
      object-fit: contain;
      vertical-align: middle;
      width: calc((16.8 / 26) * 100%);
      // height: calc((16.8 / 26) * 100%);
      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;
      z-index: 2;
    }

    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: calc((16.8 / 26) * 99%);
      height: 99%;
      margin: auto;
      box-shadow: 0 3rem 4.5rem rgba($color-primary-900, .3);
      border-radius: 50%;
      z-index: 0;
    }
  }

  &__content {
    flex: 1;
  }

  &__title {
    margin-bottom: .8rem;
    color: $color-primary-900;
  }

  &__subtitle {
    margin-bottom: 3rem;
  }
}
