.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5.6rem;

  @include mq(md, max) {
    display: flex;
    overflow-x: scroll;
    margin-top: 8rem;
    margin-right: -2.4rem;
    margin-left: -2.4rem;
    padding: 8rem 2.4rem 0;
  }

  &--tutorials {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
  }

  &:after {
    display: none;
    flex: 0 0 2.4rem;
    width: 2.4rem;
    height: 2.4rem;
    content: "";

    @include mq(md, max) {
      display: block;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4.8rem;
  cursor: pointer;
  border-radius: $br-box-small;
  background-color: $color-white;

  @include transition-base;
  @include mq(md, max) {
    flex: 0 0 24rem;
    padding: 4rem 2.4rem 3.2rem 2.4rem;
    margin-bottom: 35px;
  }

  & + .card {
    @include mq(md, max) {
      margin-left: 2.4rem;
    }
  }

  &.view-tutorial {
    width: 380px;
    height: 500px;

    .card__title {
      display: -webkit-box;
    /* max-width: 400px; */
    /* height: 109.2px; */
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.625;
    }

    .card__text {
      display: -webkit-box;
      /* max-width: 400px; */
      /* height: 109.2px; */
      -webkit-line-clamp: 9;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.625;
    }

    @include mq(md, max) {
      width: auto;
    }
  }
  

  &:hover {
    box-shadow: 0 1rem 2.4rem rgba($color-primary-900, .3);

    .card__img {
        transform: scale(1.15);
        transition-duration: 0.3s;
        transition-property: all;
        transition-timing-function: ease-in-out;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-in-out;
      
    }
  }

  &.view-margin {
    margin-top: 60%;

    @include mq(md, max) {
      margin-top: 0;
    }
  }

  .cards--tutorials & {
    padding: 4rem;
  }

  &__block {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__img {
    position: relative;
    margin-top: -50%;
    margin-bottom: 6rem;

    img {
      display: block;
      position: relative;
      object-fit: contain;
      vertical-align: middle;
      width: calc((16.8 / 26) * 100%);
      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;
      z-index: 2;
    }

    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: calc((16.8 / 26) * 99%);
      height: 99%;
      margin: auto;
      box-shadow: 0 3rem 4.5rem rgba($color-primary-900, .4);
      border-radius: 50%;
      z-index: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .buttonprofile {
    text-align: center;
  }

  &__title {
    margin-bottom: .8rem;
    color: $color-primary-900;

    &.profile {
      text-align: center;
    }
  }

  &__subtitle {
    margin-bottom: 3rem;
  }

  &__text {
    flex-grow: 1;
  }

  &__footer {
    display: block;
    margin-top: 2rem;
    justify-self: end;
  }
}

.card__block {

  .card__img {
    transform: scale(1);
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in-out;
  }

  &--tutorial {
    .card__img {
      width: auto;
      height: 18rem;
      margin-right: -1.5rem;
      margin-left: -1.5rem;
      margin-top: calc(-50% - 2rem);

      img {
        height: 100%;
        width: 100%;
        border-radius: $br-box;
        object-fit: cover;
      }

      &:before {
        border-radius: $br-box;
        width: 90%;
        height: 95%;
      }
    }

    .card__title {
      margin-bottom: 2rem;
    }
  }
}
