@import "@/assets/scss/components/_badges.scss";
@import "@/assets/scss/pages/buttons.scss";
@import "@/assets/scss/components/_buttons.scss";

.model-opened {
  height: 100vh;
  overflow: hidden;
}

.detailModal {
  width: 100%;
  height: 100%;
  background: rgba(57, 65, 115, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  text-align: center;
  display: flex;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 100px 0;

  &.with-background{
    background: transparent;
  }
  .background{
    width: 100%;
    height: 100%;
    background: rgba(57, 65, 115, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    cursor: pointer;
  }

  &.visuallyscoll {
    align-items: flex-start;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .slick-slide {
    .previewImg {
      transform: scale(0.8);
      transition: all .3s ease-in-out;

      img {
        margin: 0 auto;
      }
    }
  }
  }

  .detail-container {
    max-width: 80%;
    border-radius: 0.8rem;
    background-color: $color-white;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: auto;
    position: relative;

    @include mq(xl, max) {
      max-width: 100%;
     }

    @include mq(sm, max) {
      flex-direction: column;
    }

    .imageDetails {
      display: flex;
      flex-direction: column;
      padding: 20px 20px;
      width: 60%;
      position: relative;

      @include mq(sm, max) {
        width: 100%;
      }

      .imageDetails-header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;

        .imageDetails-options {
          display: flex;
          margin-top: 3rem;

          .download {
            margin-right: 2.4rem;
          }

          .freeMark {
            &::before {
              content: '';
              height: 100%;
              vertical-align: middle;
              display: inline-block;
            }

            a {
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
      }

      .imageDetails-content {
        .previewImg {
          img {
            max-width: 100%;

            @include mq(sm, max) {
              max-width: 50%;
             }
          }
        }

        .tutorial {
          display: flex;
          justify-content: flex-end;
        }

        .slick-track {
          position: relative;
          top: 0;
          left: 0;
          display: block;
          display: flex;
          align-items: center;
         }

       .slick-prev:before {
         display: none;
         } 

        .slick-prev:after {
          display: none;
          } 
      }

      .imageDetails-footer {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);

        @include mq(sm, max) {
          position: relative;
          margin-top: 60px;
         }

        .imageItem {
          margin: 0 0.8rem;
          max-width: 9.6rem !important;

          img {
            max-width: 8rem;
          }
        }

        .slick-slider {
          height: 8rem;
          max-width: 48rem;
          margin: 0 auto;
          position: relative;

          .button {
            position: absolute;
            width: 1rem;
            height: 1rem;
            background: transparent;

            img {
              width: 1rem;
            }
          }

          .prev-slick {
            &::before {
              content: "";
              left: -10px;
            }
            left: -15px;
          }

          .next-slick {
            &::before {
              content: "";
              right: 15px;
            }

            .button {
              right: 15px;
              transform: scale(1.4) rotate(180Deg);
            }
          }

          .slick-slide {
            float: none;
            width: 9.6rem !important;
            transform: none;
            height: 100%;
            min-height: 1px;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
          }

          .slick-track {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
          }

        }
      }
    }

    .details {
      min-height: 100%;
      background-color: $color-primary-100;
      border-top-right-radius: 0.8rem;
      border-bottom-left-radius: 0.8rem;
      border-bottom-right-radius: 0.8rem;
      text-align: left;
      max-width: 40%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include mq(sm, max) {
        max-width: 100%;
       }


      .label {
        max-width: 13.5rem;
        margin-right: 20px;
      }

      .title {
        margin-bottom: 2rem;

      }

      .credits-bookmark {
        display: flex;
        margin-bottom: 6rem;
        justify-content: space-between;

        .credits {
          label {
            color: $color-white;
            padding: 1rem 1.5rem;
            background-color: $color-primary-600;
            border-radius: 1.2rem;
            margin-right: 10px;
          }
        }
      }

      .options {
        .option-item {
          display: flex;

          .option {
            height: 100px;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
          }

          &.resolution {
            flex-wrap: wrap;
          }

          &.error{
            label{
              color: red;
            }
          }
        }
      }

      .description {
        margin-bottom: 3rem;
        .text {
          height: 100px;
          overflow-y: scroll;
          -webkit-overflow-scrolling: touch;
        }
      }

      .locator {
        margin-bottom: 6rem;
      }

      .brand {
        display: flex;
        margin-bottom: 6rem;

        .option {
          .brand {
            text-transform: uppercase;
            margin-bottom: 0;
          }

          .brand-link {
            text-decoration: underline;
          }
        }
      }

      .download {
        text-align: center;

        button {
          max-width: 40rem;
          min-width: 25rem;
          padding: 1.5rem 0;
          border-radius: 3rem;
          font-size: 1.4rem;
          border: none;
          color: $color-white;
          text-transform: uppercase;
          letter-spacing: 0;

          &.button-primary {
            &::before {
              margin-right: 0;
              content: '';
            }
          }

          &.button-primary--blue {
            img {
              margin-right: 3rem;
            }
          }
        }
      }

    }

    .visuallyshow {
      height: 22.4rem;
      display: flex;
      width: 100%;


      .relatedtextures, .relatedslider {
        flex-basis: 31.5rem;
        height: 100%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
      }
      .relatedtextures {
        flex-basis: 31.5rem;
        background-color: #F8F9FE;
        border-bottom-left-radius: 0.8rem;

        h3 {
          font-size: 2.4rem;
          font-weight: bold;
          text-align: left;
          margin-bottom: 20px;
        }
      }

      .relatedslider {
        flex-basis: calc(100% - 315px);
        background-color: #F2F3F9;
        border-bottom-right-radius: 0.8rem;
      }
    }
  }

  .changed:hover img.image{
    display:none;
    }

    .changed img.hover{
    display:none;
    }

    .changed:hover img.hover{
    display:block;
    }

.pad {
  padding-top: 25px;
}

.my-prev, .my-next {
  background-color: red;
  width: 200px;
  display: block;
}



