@import "@/assets/scss/components/_badges.scss";
@import "@/assets/scss/pages/buttons.scss";
@import "@/assets/scss/components/_buttons.scss";

.model-opened {
  height: 100vh;
  overflow: hidden;
}

.detailModal {
  width: 100%;
  height: 100%;
  background: rgba(57, 65, 115, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  text-align: center;
  display: flex;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 100px 0;

  &.with-background{
    background: transparent;
  }
  .background{
    width: 100%;
    height: 100%;
    background: rgba(57, 65, 115, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    cursor: pointer;
  }

  &.visuallyscoll {
    align-items: flex-start;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .slick-slide {
    .previewImg {
      padding: 0 24px;
      transition: all .3s ease-in-out;

      img {
        margin: 0 auto;
      }
    }
  }
  }

  .detail-container {
    max-width: 80%;
    border-radius: 0.8rem;
    background-color: $color-white;
    overflow: hidden;
    padding: 0;
    margin: auto;
    position: relative;

    &__wrapper {
      display: flex;
      justify-content: space-between;
      position: relative;

      @include mq(xl, max) {
        max-width: 100%;
       }
  
      @include mq(md, max) {
        flex-direction: column;
      }
    }

    .imageDetails {
      padding-top: 50px;
      padding-left: 30px;
      width: 65%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: $color-primary-100;

      @include mq(md, max) {
        width: 100%;
      }

      .imageDetails-header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;

        .close {
          position: absolute;
          top: 20px;
          left: 20px;
        }

        .imageDetails-options {
          display: flex;
          margin: 3rem 24px 0 auto;

          .download {
            margin-right: 2.4rem;
          }

          .freeMark {
            &::before {
              content: '';
              height: 100%;
              vertical-align: middle;
              display: inline-block;
            }

            a {
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
      }

      .imageDetails-content {
        .previewImg {
          img {
            max-width: 100%;

            // @include mq(md, max) {
            //   max-width: 50%;
            //  }
          }
        }

        .tutorial {
          display: flex;
          justify-content: flex-end;
          margin: 16px 24px 0 0;
        }

        .slick-track {
          position: relative;
          top: 0;
          left: 0;
          display: block;
          display: flex;
          align-items: center;
          max-height: 766px;
         }

       .slick-prev:before {
         display: none;
         }

        .slick-prev:after {
          display: none;
          }
      }

      .imageDetails-footer {
        // position: absolute;
        // bottom: 60px;
        // left: 50%;
        // transform: translateX(-50%);
        padding-bottom: 50px;
        margin-top: 60px;

        @include mq(md, max) {
          position: relative;
          margin-top: 16px;
          padding-bottom: 32px;
         }

        .imageItem {
          margin: 0 0.8rem;
          max-width: 9.6rem !important;

          &:hover {
            cursor: pointer;
          }

          img {
            max-width: 8rem;
          }
        }

        .slick-slider {
          max-width: 48rem;
          margin: 0 auto;
          position: relative;

          .button {
            position: absolute;
            width: 1.2rem;
            height: 1.2rem;
            background: transparent;

            img {
              width: 1.2rem;
            }
          }

          .prev-slick {
            &::before {
              content: "";
              left: -10px;
            }
            left: -15px;
          }

          .next-slick {
            &::before {
              content: "";
              right: 15px;
            }

            .button {
              right: 15px;
              transform: rotate(180Deg);
            }
          }

          .slick-slide {
            float: none;
            width: 9.6rem !important;
            transform: none;
            height: 100%;
            min-height: 1px;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
          }

          .slick-track {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
          }

        }
      }
    }

    .details {
      min-height: 100%;
      border-top-right-radius: 0.8rem;
      border-bottom-left-radius: 0.8rem;
      border-bottom-right-radius: 0.8rem;
      text-align: left;
      width: 35%;
      padding: 50px 40px;

      @include mq(md, max) {
        width: 100%;
       }


      .label {
        max-width: 13.5rem;
        margin-right: 20px;
      }

      .title {
        margin-bottom: 2rem;

      }

      .credits-bookmark {
        display: flex;
        margin-bottom: 9rem;
        justify-content: space-between;

        .credits {
          label {
            color: $color-white;
            padding: 1rem 1.5rem;
            background-color: $color-primary-600;
            border-radius: 1.2rem;
            margin-right: 10px;
          }
        }
      }

      .options {
        .dimension{
          margin-bottom: 30px;
        }
        .option-item {
          display: flex;

          .option {
            height: fit-content !important;
            overflow: visible !important;
            -webkit-overflow-scrolling: touch;
          }

          &.resolution {
            flex-wrap: wrap;
            max-height: 68px;

            @include mq(lg, max) {
              max-height: 100px;
             }

             @media only screen and (max-width: 1350px) {
              max-height: 100px;
            }


            .label {
              margin-right: 40px;
              margin-bottom: 20px;
            }
            .option {
              .selected, .custom-select {
                width: 22rem;

                @include mq(lg, max) {
                  width: 20rem;
                 }
              }
            }
          }

          &.last {
            max-height: 100px;
            overflow-y: scroll;

            &::-webkit-scrollbar {
              width: 3px;
            }
            &::-webkit-scrollbar-thumb {
              background: #d0d5e7;
              border-radius: 15px;
            }
            &::-webkit-scrollbar-track {
              background: transparent;
            }

            @include mq(lg, max) {
              max-height: 100px;
              overflow-y: scroll;
             }
          }

          &.error{
            label{
              color: red;
            }
          }
        }
      }

      .description {
        margin-top: 30px;
        margin-bottom: 3rem;
        .text {
          max-height: 100px;
          margin-top: 13px;
          overflow-y: scroll;
          -webkit-overflow-scrolling: touch;

          &::-webkit-scrollbar {
            width: 3px;
          }
          &::-webkit-scrollbar-thumb {
            background: #d0d5e7;
            border-radius: 15px;
          }
          &::-webkit-scrollbar-track {
            background: transparent;
          }
        }
      }

      .locator {
        margin-bottom: 3rem;
      }

      .brand {
        display: flex;
        margin-bottom: 7rem;

        .option {
          .brand {
            text-transform: uppercase;
            margin-bottom: 0;
          }

          .brand-link {
            text-decoration: underline;
          }
        }
      }

      .download {
        text-align: center;

        button {
          max-width: 40rem;
          min-width: 100%;
          height: auto;
          padding: 1.2rem 2rem;
          border-radius: 3rem;
          font-size: 1.4rem;
          border: none;
          color: $color-white;
          line-height: 1.5;
          text-transform: uppercase;
          letter-spacing: 0;
          white-space: normal;

          &.button-primary {
            &::before {
              margin-right: 0;
              content: '';
            }
          }

          &.button-primary--blue {
            img {
              margin-right: 0;
              left: 0;
              padding: 0 2rem 0 0;
            }
          }
        }
      }

    }

    .visuallyshow {
      height: 22.4rem;
      display: flex;
      width: 100%;


      .relatedtextures, .relatedslider {
        flex-basis: 31.5rem;
        height: 100%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
      }
      .relatedtextures {
        flex-basis: 31.5rem;
        background-color: #F2F3F9;
        border-bottom-left-radius: 0.8rem;

        h3 {
          font-size: 2.4rem;
          font-weight: bold;
          text-align: left;
          margin-bottom: 20px;
        }
      }

      .relatedslider {
        flex-basis: calc(100% - 315px);
        background-color: #FBFBFF;
        border-bottom-right-radius: 0.8rem;
        border-top: 1px solid #F2F3F9;

        .imageItem {
          max-width: 120px;
          margin: 0 12px;
        }
      }
    }
  }

  .changed:hover img.image{
    display:none;
    }

    .changed img.hover{
    display:none;
    }

    .changed:hover img.hover{
    display:block;
    }

.pad {
  padding-top: 25px;
}

.my-prev, .my-next {
  background-color: red;
  width: 200px;
  display: block;
}



