.faq {
  padding: 62.4rem 0 22.4rem;
  background-color: $color-bck-dark;

  &.view-padding {
    padding-top:  15rem;
  }

  @include mq(xl, max) {
    padding-top: 22.4rem;
  }

  @include mq(md, max) {
    padding: 11.2rem 0;
  }

  &__grid {
    display: grid;
    margin: 16rem -4rem 0 -4rem;

    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.6rem;
    @include mq(lg, max) {
      margin: 8rem 0 0 0;
    }
    @include mq(md, max) {
      display: flex;
      flex-direction: column;
    }
  }

  &__block {
    position: relative;
    min-height: 11.6rem;
    border-radius: $br-box-small;
    background-color: $color-secondary-dark;
    height: 100%;

    @include transition-base;
    @include mq(md, max) {
      margin-bottom: 1.6rem;
    }

    &:hover {
      cursor: pointer;

      .faq__title {
        &:before, &:after {
          transform: rotate(-180deg);
        }

        &:before {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      .faq__text {
        display: block;
        z-index: 10;
        opacity: 1;
      }
    }
  }

  &__title {
    position: relative;
    display: flex;
    align-items: center;
    padding: 3.5rem 7rem;
    min-height: 11.6rem;

    @include font-faq;
    @include mq(sm, max) {
      padding: 3.2rem 1.6rem 3.2rem 5.6rem;
    }

    &:before, &:after {
      display: block;
      content: "";
      position: absolute;
      top: 0rem;
      bottom: 0;
      left: 2.8rem;
      width: 2.5rem;
      height: 2.5rem;
      margin: auto 0;
      border-radius: $br-round;

      @include transition-base;
    }

    &:before {
      background: transparent url(~assets/img/icon-arrow_down.svg) no-repeat center/contain;
      background-size: 1.5rem 1.5rem;
      opacity: 1;
    }

    &:after {
      background: white url(~assets/img/icon-arrow_down__black.svg) no-repeat center/contain;
      background-size: 1.5rem 1.5rem;
      opacity: 0;
    }
  }

  &__text {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 11rem;
    background-color: $color-secondary-dark;
    padding: 0 7rem 3.5rem;
    border-radius: 0 0 0.8rem 0.8rem;
    z-index: -1;
    opacity: 0;
    @include transition-base;

    &:before {
      display: block;
      content: "";
      position: absolute;
      top: -11rem;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: calc(100% + 11rem);
      border-radius: $br-box-small;
      box-shadow: 0 1rem 6.1rem $color-primary-900;
    }
  }

  &__wysiwyg {
    @include font-text;
  }

  &__footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 16.8rem;

    @include mq(lg, max) {
      margin-top: 8rem;
    }
    @include mq(md, max) {
      flex-direction: column;
    }
  }

  &__tagline,
  &__cta {
    width: calc(50% - 4rem);

    @include mq(lg, max) {
      display: block;
      width: 100%;
    }
  }

  &__tagline {
    display: flex;

    @include font-faq;
    @include mq(xs, max) {
      flex-direction: column;
    }

    &:before {
      display: inline-flex;
      width: 5.6rem;
      height: 2px;
      margin-top: .8rem;
      margin-right: 2.4rem;
      content: "";
      background-color: $color-primary-600;

      @include mq(xs, max) {
        margin-bottom: .8rem;
      }
    }
  }

  &__cta {
    @include mq(lg, max) {
      margin-top: 8rem;
    }
    .h1 {
      margin-bottom: 5.6rem;
    }
  }
}
