.footer-social {
  display: flex;
  margin-top: 3.2rem;
  margin-left: -2.4rem;

  &__item {
    margin-left: 2.4rem;
    position: relative;

    .icongreen {
      position: absolute;
      top: 0;
      left: 50%;
      opacity: 0;
      transition: opacity 0.5s;
      transform: translateX(-50%);
    }
    .icongreen:hover {
      opacity: 1;
    }
  }
}
