
.header {
  padding: 40px 0;
  min-height: 16rem;
  background-color: #fbfbff;


  @include mq(md, max) {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10000;
    padding: 10px 0;
    border-bottom: 1px solid;
    min-height: 0rem;
    height: 122px;
  }

  &-inner {
    margin: 0 auto;
    max-width: 1750px;
    padding: 0 15px;
    position: relative;
  }

  &-search {
    margin-top: 15px;
    margin-right: 140px;
    position: relative;

    @include mq(sm, max) {
      display: none;
    }


    &.ar {
      position: relative;

      .arr {
        position: absolute;
        right: -13px;
        top: 14px;
        width: 10px;
        height: 10px;
        background-image: url(~@/assets/img/icon-arrow_bottom.svg);
        background-repeat: no-repeat;
        background-size: 10px 10px;
        background-position: center center;
        z-index: 9;
        -webkit-transition: -webkit-transform .2s ease-in-out;
                transition:         transform .2s ease-in-out;

        &.view-arr {
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }

    &.noright {
      margin-left: 0;

      input {
        max-width: 290px;
        background-color: #FBFBFF;
        border-radius: 30px;
        color: #394174;

        &.view-opened {
          border-radius: 30px 30px 0 0;
        }
      }
    }

    &.noright {
      right: 15px;
    }

    input {
      width: 270px;
      height: 42px;
      padding: 10px 10px 10px 50px;
      border-radius: 30px 0 0 30px;
      background-color: #fff;
      background-image: url(~@/assets/img/icon-search.png);
      background-repeat: no-repeat;
      background-position: left 20px center;
      color: #9093b9;
      font-size: 14px;
      outline: none;
      vertical-align: top;

      @media only screen and (max-width: 1200px) {
        width: 180px;
      }



      &:-internal-autofill-selected {
        background-color: #fff !important;
        background-image: url(~@/assets/img/icon-search.png) !important;
        color: #fff !important;
      }
    }

    select {
      width: 130px;
      height: 42px;
      padding: 10px 20px;
      border: none;
      border-radius: 0 30px 30px 0;
      background-color: #f2f3f9;
      background-image: url(~@/assets/img/icon-select.png);
      background-repeat: no-repeat;
      background-position: right 20px center;
      color: #9093b9;
      font-family: Poppins;
      font-size: 14px;
      text-transform: uppercase;
      outline: none;
      -webkit-appearance: none;
    }
  }

  &-nav {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;


    .menu-btn {
      display: none;
    }

    @include mq(md, max) {
      flex-direction: column;
      width: 100%;

      .menu-icon {
        cursor: pointer;
        padding: 28px 20px;
        position: relative;
        user-select: none;
        display: block !important;

        .navicon {
          background: #333;
          display: block;
          height: 3px;
          position: relative;
          transition: background 0.2s ease-out;
          width: 40px;
          float: right;
        }

        .navicon:before,
        .navicon:after {
          background: #333;
          content: "";
          display: block;
          height: 100%;
          position: absolute;
          transition: all 0.2s ease-out;
          width: 100%;
        }
        .navicon:before {
          top: 8px;
        }

        .navicon:after {
          top: -8px;
        }
      }

      .menu-btn:checked ~ .menu {
        max-height: 700px;
      }

      .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
      }

      .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
      }

      .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
      }

      .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
      .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
      }

      .menu {
        clear: both;
        max-height: 0;
        transition: max-height 0.2s ease-out;
        @include mq(md, max) {
          position: absolute;
          top: 116px;
          left: 0;
          right: 0;
          background: white;
        }
      }

      li {
        display: block !important;
        clear: both;
        width: 100%;
        @include mq(md, max) {
          text-align: center;
        }

        a {
          display: block;
          padding: 20px 20px;
          text-decoration: none;
        }
      }

      /* menu icon */
    }

    .menu-icon {
      display: none;
    }

    li {
      display: inline-block;

      a {
        display: block;
        padding: 10px 15px;
        border-radius: 30px;
        font-size: 14px;
        font-weight: 500;
        color:#9093B9;
        text-transform: uppercase;
        text-decoration: none;
        transition: all 0.5s;

        @include mq(lg, max) {
          padding-left: 10px;
          padding-right: 10px;
        }

        @include mq(md, max) {
          padding-left: 10px;
          padding-right: 10px;
        }

        &:hover {
          background-color: #f2f3f9;
        }
      }

      &.header-button a {
        padding-left: 40px;
        padding-right: 40px;
        background-color: #394174;
        color: #fff;
      }

      &.header-account {
        position: relative;

        @media only screen and (max-width: 950px) {
          display: none !important;
      }

        .missing {
          position: absolute;
          top: 35px;
          right: 10px;
          padding-top: 15px;
          z-index: 80;


        .logmenu {
          background: #fff;
          width: 300px;
          z-index: 999;
          -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.48);
          -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.48);
          box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.48);

          ul li {
            display: block;

            &.logout {
              margin-top: 20px;
            }

            &.logout a {
              cursor: pointer;
              text-transform: initial;
              text-indent: 20px;
              font-weight: 700;
              background-image: url(~@/assets/img/icon-logout.svg);
              background-repeat: no-repeat;
              background-position: 10px  center;
            }
          }

          ul {
            padding: 30px;
          }

          ul li a{
            font-weight: normal;
          color: #9093B9;
          }

          .logmenu-top {
            padding: 20px;
            background-color: #F8F9FE;

            p:first-of-type {
              font-size: 14px;
              font-weight: bold;
              color: #394174;
            }

            p:nth-child(2){
              font-size: 14px;
              color: #4CBC81;
              text-transform: uppercase;
              margin-top: 2px;
            }
          }
        }
      }
      }

      &.header-account a.icon {
        font-size: 0;
        color: transparent;
        width: 37px;
        height: 40px;
        border-radius: 0;
        margin: 0 10px;
        position: relative;
        top: -4px;
        background-image: url(~@/assets/img/icon-account.svg);
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;

        &:hover {
          background-color: transparent !important;
        }

        @include mq(md, max) {
          font-size: 14px;
          font-weight: 500;
          color: #394174;
          background-image: none;
          position: static;
          top: 0;
          margin: 0;
          width: auto;
          height: auto;

          &:hover {
            background-color: #f2f3f9 !important;
            border-radius: 50px;
          }
        }
      }

      &.header-fav {
        position: relative;

        span {
          display: block;
          position: absolute;
          right: 0;
          top: 1px;
          width: 22px;
          height: 22px;
          font-size: 11px;
          font-weight: bold;
          background-color: #4CBC81;
          color: #ffffff;
          border: 2px solid white;
          border-radius: 50%;
          z-index: 1;
          text-align: center;
          line-height: 18px;
        }

        @include mq(md, max) {
          &.view-mobile {
            display: none !important;
          }
        }
      }

      &.header-fav a {
        font-size: 0;
        color: transparent;
        width: 24px;
        height: 37px;
        border-radius: 0;
        margin: 0 10px;
        position: relative;
        top: -4px;
        background-image: url(~@/assets/img/icon-fav.svg);
        background-repeat: no-repeat;
        background-position: center center;
        pointer-events: none;

        &:hover {
          background-color: transparent !important;
        }
      }
    }
  }

  &-left-nav {
    @include mq(md, max) {
      order: 2;
      width: 100%;
    }
  }

  &-left-menu {
    @include mq(md, max) {
      margin-top: 10px;
      text-align: center;
    }
  }

  &-right-nav {
    @include mq(md, max) {
      order: 1;
      width: 100%;
    }
  }

  &-right-menu {
    margin-left: 60px;
    padding-left: 60px;
    border-left: 1px solid #c3c7de;

    @include mq(xxl, max) {
      margin-left: 20px;
      padding-left: 20px;
    }

    @include mq(md, max) {
      margin-left: 0;
      padding-left: 0;
      border-left: none;
      text-align: center;
    }
  }
}
.first-menu {
  @media only screen and (max-width: 1364px) {
    display: none;
  }
  @include mq(md, max) {
    display: block;
  }
}
.header-logo {
  &--light {
    svg {
      max-width: 8.8rem;
      path {
        fill: $color-white;
      }

    }
  }
  @include mq(md, max) {
    transform: scale(0.7);
  }
}

.header.header-signup {
  background: linear-gradient(to right, $color-bck-dark 40%, #fbfbff 40%);

  @include mq(lg, max) {
    background: $color-bck-dark;

    li a {
      color: white;
    }

    .navicon,
    .navicon:before,
    .navicon:after
     {
      background-color: white;
    }

    .menu-btn:checked .menu-icon .navicon{
      background: transparent;
    }
  }
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  z-index: 10;

  @media only screen and (max-width: 950px) {
    overflow: hidden;
  }
}

.no-menu {
  @media only screen and (min-width: 950px) {
    display: none;
  }
}

.mobile-menu {
  font-size: 15px;
  font-weight: bold;
  margin: 20px 0 10px 0;
}

.mobile-menu-top {
  margin: 20px;
  border: 1px solid red;
  width: 80%;
  padding-left: 20px;
}
.header__logo {
  flex: 0;
  @include mq(md, max) {
    align-items: center;
    flex: 1;
  }
}

.header__flex {
  display: flex;
  justify-content: space-between;
}

.header__search {
  display: flex;
  flex: 1;

  @include mq(md, max) {
    align-items: center;
  }
}


