.header {
  padding: 40px 0;
  min-height: 16rem;
  background-color: #fbfbff;

  &-inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1750px;
    padding: 0 15px;
  }

  &-logo {
    &--light {
      svg {
        max-width: 8.8rem;
        path {
          fill: $color-white;
        }
      }
    }
  }

  &-search {
    margin-top: 15px;
    margin-left: auto;
    font-size: 0;

    input {
      width: 270px;
      height: 42px;
      padding: 10px 10px 10px 50px;
      border-radius: 30px 0 0 30px;
      background-color: #fff;
      background-image: url(~@/assets/img/icon-search.png);
      background-repeat: no-repeat;
      background-position: left 20px center;
      color: #9093b9;
      font-size: 14px;
      outline: none;
      vertical-align: top;

      &:-internal-autofill-selected {
        background-color: #fff !important;
        background-image: url(~@/assets/img/icon-search.png) !important;
        color: #fff !important;
      }

      @include mq(lg, max) {
        width: 150px;
      }
    }
    select {
      width: 130px;
      height: 42px;
      padding: 10px 20px;
      border: none;
      border-radius: 0 30px 30px 0;
      background-color: #f2f3f9;
      background-image: url(~@/assets/img/icon-select.png);
      background-repeat: no-repeat;
      background-position: right 20px center;
      color: #9093b9;
      font-family: Poppins;
      font-size: 14px;
      text-transform: uppercase;
      outline: none;
      -webkit-appearance: none;
    }
  }

  &-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 15px;
    margin-left: auto !important;

    .menu-btn {
      display: none;
    }

    @include mq(xxl, max) {
      margin-left: 20px;
    }

    @include mq(xl, max) {
      width: 100%;
    }

    @include mq(md, max) {
      flex-direction: column;
      margin-left: 0;

      .menu-icon {
        cursor: pointer;
        padding: 28px 20px;
        position: relative;
        user-select: none;
        display: block !important;

        .navicon {
          background: #333;
          display: block;
          height: 2px;
          position: relative;
          transition: background 0.2s ease-out;
          width: 18px;
          float: right;
        }

        .navicon:before,
        .navicon:after {
          background: #333;
          content: "";
          display: block;
          height: 100%;
          position: absolute;
          transition: all 0.2s ease-out;
          width: 100%;
        }
        .navicon:before {
          top: 5px;
        }

        .navicon:after {
          top: -5px;
        }
      }

      .menu-btn:checked ~ .menu {
        max-height: 700px;
      }

      .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
      }

      .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
      }

      .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
      }

      .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
      .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
      }

      .menu {
        clear: both;
        max-height: 0;
        transition: max-height 0.2s ease-out;
      }

      li {
        display: block !important;
        clear: both;
        width: 100%;

        a {
          display: block;
          padding: 20px 20px;
          text-decoration: none;
        }
      }

      /* menu icon */
    }

    .menu-icon {
      display: none;
    }

    li {
      display: inline-block;

      a {
        display: block;
        padding: 10px 20px;
        border-radius: 30px;
        font-size: 14px;
        font-weight: 500;
        color: #394174;
        text-transform: uppercase;
        text-decoration: none;

        @include mq(lg, max) {
          padding-left: 10px;
          padding-right: 10px;
        }

        @include mq(md, max) {
          padding-left: 10px;
          padding-right: 10px;
        }

        &:hover {
          background-color: #f2f3f9;
        }
      }

      &.header-button a {
        padding-left: 40px;
        padding-right: 40px;
        background-color: #394174;
        color: #fff;
      }
    }
  }

  &-left-nav {
    @include mq(md, max) {
      order: 2;
      width: 100%;
    }
  }

  &-left-menu {
    @include mq(md, max) {
      margin-top: 10px;
      text-align: center;
    }
  }

  &-right-nav {
    @include mq(md, max) {
      order: 1;
      width: 100%;
    }
  }

  &-right-menu {
    margin-left: 60px;
    padding-left: 60px;
    border-left: 1px solid #c3c7de;

    @include mq(xxl, max) {
      margin-left: 20px;
      padding-left: 20px;
    }

    @include mq(md, max) {
      margin-left: 0;
      padding-left: 0;
      border-left: none;
      text-align: center;
    }
  }
}

.header.header-signup {
  background: linear-gradient(to right, $color-bck-dark 40%, #fbfbff 40%);
  background: -o-linear-gradient(to right, $color-bck-dark 40%, #fbfbff 40%);
  background: -ms-linear-gradient(to right, $color-bck-dark 40%, #fbfbff 40%);
  background: -moz-linear-gradient(to right, $color-bck-dark 40%, #fbfbff 40%);
  background: -webkit-linear-gradient(to right, $color-bck-dark 40%, #fbfbff 40%);

  @include mq(lg, max) {
    background: $color-bck-dark;

    li a {
      color: white;
    }
    .navicon,
    .navicon:before,
    .navicon:after
     {
      background-color: white;
    }

    .menu-btn:checked .menu-icon .navicon{
      background: transparent;
    }
  }
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
