.explore {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 80px;
  position: relative;

  &-circle-texture {
    position: absolute;
    width: 125%;
    height: 750px;
    left: 50%;
    background-image: url(~@/assets/img/spheres/sphere-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    transform: translateX(-50%);
    z-index: 2;
  }

  &-scroll {
    height: 70px;
    width: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    background-color: #DDE0ED;

    div {
      height: 50%;
      width: 100%;
      background-color: #0A0D27;
      position: absolute;
      bottom: 0;
      border-radius: 10px;
    }
  }

  &-circle {
    height: 850px;
    width: 850px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #F4F5FC;
    border-radius: 50%;
    z-index: -9999;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  &-content {
    width: 40%;
    padding-right: 40px;
    position: relative;
    z-index: 4;

    @include mq(lg, max) {
      width: 100%;
      padding-right: 0;
    }
  }

  &-button-wrap {
    margin-top: 80px;

    @include mq(lg, max) {
      margin-top: 40px;
      text-align: center;
    }

    a {
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }

  &-texture {
    position: relative;
    width: 30%;
    height: 750px;
    transition: opacity 300ms;
    margin-left: 80px;

    &.opacity_in {
      opacity: 0;
    }

    @include mq(lg, max) {
      // margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    img {
      position: absolute;
      left: 50%;

      &.static {
        position: static;
        left: auto;
      }
    }

    &-current {
      top: calc(50% + 90px);
      transform: translate(-50%, -50%);
    }

    &-prev {
      top: -40px;
      transform: translateX(-50%);
    }

    &-next {
      top: 540px;
      transform: translateX(-50%);
    }

    &-number {
      margin-bottom: 40px;
      color: #0a0d27;
      font-size: 64px;
      font-weight: 700;
    }

    &-title {
      margin-bottom: 20px;
      color: #0a0d27;
      font-size: 14px;
      font-weight: 700;
      margin-top: 100px;

      @include mq(lg, max) {
        position: relative;
        top: 20px;
      }
    }
  }

  &-control {
    width: 20%;
    text-align: center;
    transition: opacity 300ms;
    position: relative;
    z-index: 9;

    &.opacity_in {
      opacity: 0;
    }

    @include mq(lg, max) {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      width: auto;
      padding: 0 90px;

      .button-phone {
        position: relative;
        top: 50px;
      }
    }

    a {
      display: inline-block;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.3s all;

      &:hover {
        background-color: #ebedf6;
      }
    }

    &-prev {
      margin-bottom: 70px;


      @include mq(lg, max) {
        margin-bottom: 0;
      }

      img {

        @include mq(lg, max) {
          position: absolute;
          top: 50%;
          left: 0;
          transform: rotateZ(-90deg);
        }
      }
    }

    &-next {
      margin-top: 40px;

      @include mq(lg, max) {
        margin-top: 0;
      }

      img {
        transform: rotateX(180deg);

        @include mq(lg, max) {
          position: absolute;
          top: 50%;
          right: 0;
          transform: rotateX(180deg) rotateZ(90deg);
        }
      }
    }
  }

  .zoom-slider-nav {
    .slick-track {
      transition: transform 800ms cubic-bezier(0.000, 0, 0.000, 0.6);
    }

    .slick-list {
      overflow: inherit;
      position: absolute;
      pointer-events: none;
      top: 50%;
      transform: translateY(-50%);
    }

    .slick-active {
      .explore-texture-number {
        transform: scale(1);
        opacity: 1;

        @include mq(lg, max) {
          transform: translate(0, 50px);
        }
      }
    }

    .explore-texture-number {
      transition: transform 800ms cubic-bezier(0.000, 0, 0.000, 0.6), opacity 600ms cubic-bezier(0.000, 0, 0.000, 0.6);
      transform-origin: left top;
      transform: scale(0.4);
      opacity: 0;
      margin-bottom: 0px;

      &.zoom-in {
        transform: scale(1);
        opacity: 1;
      }

      &.zoom-out {
        transform: scale(0.4);
        opacity: 0;
      }
    }
  }

  .slider-wrapper {
    height: 100%;
    position: relative;
    z-index: 3;

    .zoom-slider {
      width: 242px;
      top: 50%;
      transform: translateY(-50%);
      margin: auto;

      .slick-list {
        overflow: inherit;
      }

      .slick-track {
        transition: transform 800ms cubic-bezier(0.000, 0, 0.000, 0.6);
      }

      .slick-slide {
        .slide-wrapper {
          transition: all 800ms cubic-bezier(0.000, 0, 0.000, 0.7);
          transform: scale(0.4) translateY(-50%);
          width: 240px;
          height: 240px;
          display: flex;
          opacity: 0;

          &.opacity_in {
            opacity: 1;
          }

          img {
            -webkit-filter: drop-shadow(5px 100px 51px rgba(1, 12, 47, 0.4));
            filter: drop-shadow(5px 100px 51px rgba(1, 12, 47, 0.4));
            width: 100%;
            height: 100%;
            object-fit: contain;
          }

        }

        &.slick-active.slick-current {
          .slide-wrapper {
            transform: none;
            opacity: 1;
          }

          & + .slick-slide {
            .slide-wrapper {
              transform: scale(0.3) translateY(100%);
              opacity: 1;
            }
          }
        }

      }
    }
  }

}
