.sliderDetail {
  // width: 51rem;
  // height: 51rem;
  position: absolute;
  top: 0;
  background-color: #FBFBFF;
  box-shadow: 0 36px 40px 6px rgba(70,91,146,0.3 );
  z-index: 1000;

}

.imageItem .sliderDetail {
  overflow: hidden;
  height: 0;
  width: 0;
  opacity: 0;
  z-index: 199;
  transition: all .3s ease-in-out;
}

.imageItem:hover > .sliderDetail {
  height: 51rem;
  width: 51rem;
  opacity: 1;
  //transition-delay: .1s;
  transition: all .3s ease-in-out;
  @include mq(xl, max) {
    height: 44rem;
    width: 44rem;
  }

  @include mq(lg, max) {
    height: 36rem;
    width: 36rem;
  }

  .sliderDetailContent {
    animation: 0.5s delay-overflow;
    transform: translate(0, 0);
    width: 51rem;
    height: 51rem;

    @include mq(xl, max) {
      height: 44rem;
      width: 44rem;
    }

    @include mq(lg, max) {
      height: 36rem;
      width: 36rem;
    }

    img {
      // width: 40rem;
      // height: 40rem;
      width: 75%;

      @include mq(lg, max) {
        width: 70%;
      }
    }
  }
}

.slider.opacity_in{
  opacity: 0;
  transition: opacity 2s;
}

.slide{
  text-align: center;
  img{
    margin: 0 auto;
  }
}
