.sliderDatail {
    width: 51rem;
    height: 51rem;
    position: absolute;
    top: 0;
    background-color: blue;
}

.imageItem .sliderDatail {
    overflow: hidden;
    height: 0;
    opacity: 0;
    z-index: 1;
    transition: all .3s ease-in-out;
}

.imageItem:hover > .sliderDatail {
    height: auto;
    opacity: 1;
    transition-delay: .1s;
    transition: all .3s ease-in-out;
  
  
    .sliderDatailContent {
      animation: 1s delay-overflow;
      transform: translate(0, 0);
      width: 40rem;
      height: 40rem;
  
      img {
        width: 40rem;
        height: 40rem;
      }
  
    }
  }