@import "@/assets/scss/components/_dropdown.scss";

.sortoption {
    display: flex;
    justify-content: space-between;
    position: relative;

    .text {
        margin-right: 1rem;
        margin-top: 1rem;
    }

    @media only screen and (max-width: 800px) {
        margin-top: 15px;
        display: block;

        .dropdown {
            position: absolute;
            right: 0;
            top: -10px;
        }
      }
}