.success-holder {
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s linear;
  padding-bottom: 20px;

  .title{
    font-size: 20px;
    color: #3a4173;
  }


  &.success {
    opacity: 1;
    visibility: visible;
    height: auto;
  }

  .success-info {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .success-icon {
    width: 30px;
    height: 30px;
    background: #4CBC81 url(~assets/img/icon-check.svg) 50% 50% no-repeat;
    border-radius: 50%;
    background-size: 12px 12px;
    margin-right: 20px;
  }
}
