.textgallery {
  .clear {
    clear: both;
  }

  .textures {
    padding: 0 1.8rem;
    grid-gap: 2rem 0.8rem;
    grid-template-columns: repeat(auto-fill, 263px);

    @include mq(lg, max) {
     padding-top: 42px;
    }

    @include mq(md, max) {
     padding-top: 42px;
    }

    .texture {
      position: relative;
      width: 25.6rem;
      height: 25.6rem;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mq(lg, max) {
        position: relative;
        max-width: auto;
        flex: 1 0 20rem;
      }

      &.brands {
        margin: 0;
        width: 25rem;
        height: 10.8rem;
        border-radius: 8px;
        background-color: #fff;
        text-align: center;
        transform-style: preserve-3d;
        cursor: pointer;

        transform: scale(1);
        transition-duration: 0.3s;
        transition-property: all;
        transition-timing-function: ease-in-out;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-in-out;

        &::after {
          transform: translateZ(-1px);
          position: absolute;
          z-index: -1;
          right: 0;
          bottom: -4px;
          left: 0;
          display: block;
          width: 75%;
          height: .32rem;
          margin: 0 auto;
          content: "";
          border-radius: 50%;
          background-color: rgba($color-primary-900, .0);
          width: 95%;

          filter: blur(.4rem);
          @include transition-base;
        }

        &:hover {
          transform: scale(1);
          transition-duration: 0.3s;
          transition-property: all;
          transition-timing-function: ease-in-out;
          -webkit-transition-property: all;
          -webkit-transition-duration: 0.3s;
          -webkit-transition-timing-function: ease-in-out;

          &::after {
            background-color: rgba($color-primary-900, .4);
          }
        }

        a {
          width: 100%;
        }

        img {
          filter: grayscale(100%);
        }
      }

      .book {
        position: absolute;
        left: 10px;
        top: 10px;
      }

      .free {
        position: absolute;
        right: 10px;
        top: 10px;
      }

      .download {
        left: 10px;
        bottom: 10px;
        position: absolute;
      }
    }
  }

  &.catalog{
    .textures{
      .texture{
        display: inline;
      }
    }
  }
}

.texture__content {
  display: block !important;
}
// .model-gallery {
//   .texture {
//     width: 16rem !important;
//     height: 16rem !important;
//   }
// }

.hdr-gallery {
  .texture {
    width: 23.6rem !important;
    height: 10.8rem !important;
  }
  .texture__block .texture__image {
    width: auto;
    height: auto;
  }

}
