.textgallery {

    .clear {
        clear: both;
    }
    .textures {
        padding: 0 1.8rem;
        grid-gap: 0.8rem 0.8rem;
        grid-template-columns: repeat(auto-fill, 230px);

        .texture {
            position: relative;
            width: 25.5rem;
            height: 25.5rem;

            .book {
                position: absolute;
                left: 10px;
                top: 10px;
            }

            .free {
                position: absolute;
                right: 10px;
                top: 10px;
            }

            .download {
                left: 10px;
                bottom: 10px;
                position: absolute;
            }
        }
    }
}