.textures {
  display: grid;
  column-gap: 10px;
  row-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));

  &.mainpage {
    display: block;
    padding: 0 125px;

    @include mq(lg, max) {
      padding: 0 75px;
    }

    @include mq(md, max) {
      padding: 0 35px;
    }

    @include mq(sm, max) {
      padding: 0;
    }

    .textures--center {
      text-align: center;
      display: flex;
      justify-content: space-between;
    }

    .texture {
      margin: 0;
      padding: 10px;
      background: transparent;
      border-radius: 0;
    }

    @media (max-width: 697px) {
      overflow-x: auto;
      white-space: nowrap;
      }
  }

  // grid-gap: 3rem 4rem;
  // grid-template-columns: repeat(5, 1fr);

  @include mq(lg, max) {
    // display: flex;
    // overflow-x: scroll;
    // width: calc(100% + (2 * 5.6rem));
    // margin: 0 -5.6rem;
    // padding: 0 5.6rem;
  }

  @include mq(sm, max) {
    width: calc(100%);
    // margin: 0 0 0 -4.6rem;
    // padding: 0 2.4rem;
  }

  &:after {
    @include mq(md, max) {
      display: block;
      flex: 0 0 5.6rem;
      width: 5.6rem;
      height: 5.6rem;
      content: "";
    }
    @include mq(sm, max) {
      flex: 0 0 2.4rem;
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  .clear {
    clear: both;
  }
}

.texture {
  margin: 45px;
  // padding: 20px;
  @include mq(md, max) {
    // flex: 0 0 22rem;
  }
  @include mq(sm, max) {
    // flex: 0 0 18rem;
  }
  width: 15%;
  float: left;

  &:hover {
      .texture__image:not(.brands):not(.noscale) img {
        transform: scale(1.1);
        transition-duration: 0.3s;
        transition-property: all;
        transition-timing-function: ease-in-out;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-in-out;
      }

  }

  @media (max-width: 697px) {
    width: 25%;
    display: inline-block;
    float: none;
    }

  & + .texture {
    @include mq(md, max) {
      // margin-left: 4rem;
    }
  }

  &__image {
    position: relative;
    &.brands {
    line-height: 10.4rem;
      min-height: auto;

    &:hover {
      img {
        pointer-events: none;
      }
    }

    img {
        max-width: 13.1rem;
        display:inline-block;
        vertical-align: middle;
      }
    }

    img {
      @include transition-base;
    }
  }

  &__content {
    display: none;
    margin-top: 4rem;
    margin-left: 3.2rem;

    @include mq(xxl, min) {
      margin-left: 6.4rem;
    }
    @include mq(xl, max) {
      margin-top: 1rem;
    }
  }

  &__name {
    margin-bottom: .4rem;
    text-transform: uppercase;
    font-size: 1.1vw;

    @media (max-width: 697px) {
      font-size: 1.5vw;
      }
  }

  &__structure {
    margin-bottom: 1rem;
    font-size: 1.1vw;

    @media (max-width: 697px) {
      font-size: 1.5vw;
      margin-bottom: 0.5rem;

      }
  }

  &__usage {
    font-size: 1.1vw;

    @media (max-width: 697px) {
      font-size: 1.5vw;
      }
  }

  &--shadow {

    .texture__image:not(.brands) {
      img {
        transform: scale(1);
        transition: all 0.3s ease-in-out;
        margin-bottom: 50px;
      }
    }
    .texture__image {
      &:after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 50%;
        display: block;
        width: 180px;
        height: 2.32rem;
        content: "";
        border-radius: 50%;
        background-color: rgba($color-primary-900, 0.08);
        transform: translateX(-50%);

        filter: blur(.9rem);
        @include transition-base;

        @media only screen and (max-width: 1600px) {
          width: 75%;
      }
      }

      // &:hover {
      //   img {
      //     transform: translateY(-1.6rem);
      //   }

      //   &:after {
      //     transform: scale(1.2);
      //     background-color: rgba($color-primary-900, .15);

      //     filter: blur(.6rem);
      //   }
      // }
    }
  }
}
