.tooltip {
    width: 51rem;
    height: 51rem;
    background-color: $color-white;
    position: absolute;
    top: 0;
    left: 0;

    .tooltip-content {
        overflow: hidden;

        .slick-prev {
            background: url(~@/assets/img/icon-arrow_left.svg) no-repeat center;

            &::before {
                color: transparent;
            }
        }

        .slick-next {
            background: url(~@/assets/img/icon-arrow_left.svg) no-repeat center;
            transform: scaleX(-1);

            &::before {
                color: transparent;
            }
        }

        .slick-slide {
            width: 100%;
            height: 100%;
        }
    
        .imageItem {
            width: 40rem!important;
            height: 40rem;
    
            img {
                width: 100%;
                height: 100%;
            }
        }
    
        .slick-slider {
            width: 40rem;
            height: 40rem;
            margin: auto;
        }
    }

    .tooltip-footer {
        padding: 3.2rem;

        .credits-bookmark {
            display: flex;
            justify-content: space-between;
        }
    }

}

.texture {
    .tooltip {
        display: none;
        z-index: 1;
    }

    &:hover {
        .tooltip {
            display: block
        }
    }
}