.tooltip {
  width: 51.2rem;
  height: 52rem !important;
  background-color: #FBFBFF;
  position: absolute;
  top: 0;
  box-shadow: 0 36px 40px 6px #465b924f;
  z-index: 1000;
  pointer-events: none;
  cursor: pointer;

  .hdr-gallery & {
    top: -5px;
  }

  .tooltip-content {
    overflow: hidden;
    padding-bottom: 20px;

    .slick-prev {
      background: url(~@/assets/img/icon-arrow_left.svg) no-repeat center;
      top: 100%;
      z-index: 100;
      transform: translate(0);

      &::before {
        color: transparent;
      }
    }

    .slick-next {
      background: url(~@/assets/img/icon-arrow_left.svg) no-repeat center;
      transform: translate(0) scaleX(-1);
      top: 100%;
      left: 0;

      &::before {
        color: transparent;
      }
    }

    .slick-slide {
      width: 100%;
      height: 100%;
      transform: none;
      
      .imageItem {
        opacity: 0;
      }
    }

    .slick-active {
      .imageItem {
        opacity: 1;
      }
    }

    .imageItem {
      transition: all .3s ease-in-out;
      width: 20rem;
      height: 20rem;

      img {
        transition: all .3s ease-in-out;
        width: 20rem;
        height: 20rem;
        display: flex;
        object-fit: contain;
      }

    }

    .slick-slider {
      width: 40rem;
      height: 40rem;
      margin: auto;
    }
  }

  .tooltip-footer {
    padding: 3.2rem;

    .title{
      margin-bottom: 10px;
    }

    .credits-bookmark {
      display: flex;
      justify-content: space-between;

      .bookmark{
        position: absolute;
        top: 20px;
        left: 20px;
      }
    }
  }
}

.texture .tooltip {
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.texture:hover > .tooltip {
  pointer-events: auto;
  height: auto;
  opacity: 1;
  //transition-delay: 5s;
  transition: all .3s ease-in-out;


  .imageItem {
    animation: 1s delay-overflow;
    width: 100%;
    height: 40rem;

    img {
      width: 40rem;
      height: 40rem;
    }

  }

}

.model-gallery .texture:hover > .tooltip{
  .imageItem {
    animation: 1s delay-overflow;
    transform: translate(7px, 1px) !important;
    // width: 40rem !important;
    // height: 40rem !important;

    img {
      margin: 0 5rem;
      width: 40rem !important;
      height: 40rem !important;
    }

  }
}

.hdr-gallery .tooltip{
  width: 71.2rem !important;
  height: 48rem !important;
  border-radius: 8px;
}

.hdr-gallery {
  .tooltip-content{
    height: 40rem !important;
  }
  .tooltip-footer{
    padding-top: 10px !important;
  }
  .slick-slider {
    width: 80rem !important;
    height: 39rem !important;
    margin: auto;

    .slick-prev {
      top: 100%;
      left: 28px !important;
    }

    .slick-next {
      top: 97.3%;
      left: 40px !important;
    }
  }

}

.hdr-gallery .texture:hover > .tooltip{
  .imageItem {
    animation: 1s delay-overflow;
    transform: translate(1px, -14px) !important;
    width: 71rem !important;
    height: 38rem !important;

    img {
      width: 71rem !important;
      height: 38rem !important;
      object-fit: fill;
    }

  }
}



@media only screen and (max-width: 830px) {
  .texture .tooltip {
    display: none;
  }
}
