$breakpoints: (
    xs: 382px,
    sm: 698px,
    md: 950px,
    lg: 1232px,
    xl: 1310px,
    xxl: 1638px,
);

@mixin mq($breakpoint, $direction) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @if $direction == max {
      @media (max-width: ($breakpoint-value - 1)) {
        @content;
      }
    } @else if $direction == min {
      @media (min-width: $breakpoint-value) {
        @content;
      }
    } @else {
      @media ($direction: $breakpoint-value) {
        @content;
      }
    }
  } @else {
    @if $direction == max {
      @media (max-width: $breakpoint) {
        @content;
      }
    } @else if $direction == min {
      @media (min-width: $breakpoint) {
        @content;
      }
    } @else {
      @media ($direction: $breakpoint) {
        @content;
      }
    }
  }
}

@mixin logo-media{
  @media (min-width: 991px) {
    padding-top: 25px;
  }
  @media (max-width: 2200px) {
    width: 275px;
  }
  @media (max-width: 2000px) {
    width: 270px;
  }
  @media (max-width: 1700px) {
    margin-right: 50px;
  }
  @media (max-width: 1500px) {
    min-width: 254px;
  }
  @media (max-width: 1300px) {
    min-width: 249px;
  }
  @media (max-width: 1100px) {
    min-width: 244px;
  }
}
