.bookemarks {
  .item:nth-child(even) {
    background: $color-primary-300;
  }

  padding: 2rem 0;
  .download-btn {
    justify-content: flex-end;
    display: flex;
    width: 100%;
  }

  .credits {
    display: flex;
    justify-content: space-around;
    &-remain {
      width: 30%;
    }
    &-used {
      width: 30%;
    }
  }
}

.bookmarks-bottom {
  margin: 10rem 0;
}



