.table {
  display: table;
  width: 100%;
  .row {
    display: table-row;
    align-items: center;
    .col {
      display: table-cell;
      padding: 2.5rem;
      max-width: 30rem;
      vertical-align: middle;
      &:nth-child(3){
        background-color: $color-primary-900;
      }
      &:last-child{
        background-color: $color-primary-800;
      }
    }
  }
}
