.table {
  display: table;
  width: 100%;
  @include mq(md, max) {
    display: block;
  }
  &-row {
    display: table-row;
    align-items: center;
    justify-content: center;
    @include mq(md, max) {
      display: block;
    }
  }
  &-cell {
    display: table-cell;
    vertical-align: middle;
    padding: 2.4rem 0;
    @include mq(md, max) {
      display: block;
      text-align: center;
    }

    &.middle {
      display: table;
      margin: 0 auto;
    }
    
    // .cell-content {
    .row {
      display: flex;
      justify-content: space-between;
      padding: 2.4rem 0;
      .col {
        margin: auto;
        .row{
          .col{
            margin: auto 2rem;
          }
        }
      }
    }
    // }
  }

  &-cell {
    // .cell-content {
    .rowes {
      display: flex;
      justify-content: center;
      padding: 2.4rem 0;
      .coles {
        margin: auto 0;

        a {
          &:hover {
            background-color: #f2f3f9;
          }
        }

        .list {
          margin: 0 20px;
          li {
            display: inline;
            a {
              font-weight: 500;
              padding: 2px 15px;
              border-radius: 24px;
              transition: .5s ease;

              &:hover, &.active {
                color: #394173;
                background-color: #f2f3f9;
              }
            }
          }
        }
      }
    }
    // }
  }
}
.button {
  display: inline-block;
  border-radius: 100%;
  transition: .5s ease;

  .ar {
    transform: translate(2px, 0);
  }

  img {
    vertical-align: middle;
  }

  &:hover,
  &:active,
  &.active {
    background-color: $color-bck-medium;
  }

  &.rotate{
    transform: scaleX(-1);
  }

  &.nobg {
    background: none;
  }

  &.changer {

    img.one{
      transform: translate(5px, 0);
      transition: .5s ease;
    }

    img.two{
      transform: translate(3px, 0);
      transition: .5s ease;
    }

    &:hover {
      transition: .5s ease;
      img.one{
        transform: translate(10px, 0);
      }
  
      img.two{
        transform: translate(-6px, 0);
      }
    }
  }
}

.button-secondary--inverted.active {
  background-color: $color-secondary-dark;
}
.text {
  &-top {
    vertical-align: top !important;
  }
  &-center {
    text-align: center !important;
  }
}
