.rows {
    display: flex;
    background-color: #FBFBFF;

    @include mq(md, max) {
        flex-flow: wrap;
      }

    .cols {
        flex: 50%;
        margin: 50px auto;
        display: flex;
        align-items: center;

        @include mq(md, max) {
            flex: 0 0 100%;
          }

        &.news {
            overflow-x: auto;;
     
        }

        .inner {
            width: 70%;
            margin: 50px auto;
        }
        .wrappers {
            margin: 0 auto;
            width: 70%;
            flex-wrap: wrap;
            display: flex;
    
            div.boxes {
                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: 30%;
                margin: 5px;
                position: relative;
                display: flex;            /* new */
                align-items: center;      /* new */
                justify-content: center;  /* new */
                text-align: center;
                height: 140px;
                background-color: #ffffff;

                img {
                   max-width: 70%;
                }

                @media (max-width: 1350px) {
                    //width: 170px;
                    height: 130px;
                }

                @media (max-width: 1150px) {
                    //width: 150px;
                    height: 120px;
                }

                @media (max-width: 1050px) {
                    //width: 140px;
                    height: 110px;
                }

                @media (max-width: 950px) {
                    //width: 200px;
                    height: 140px;
                }

                @media (max-width: 750px) {
                    //width: 170px;
                    height: 110px;
                }
            }
          }

          .heading {
            font-size: 36px;
            color: #0A0D27;
            font-weight: bold;
            margin-bottom: 20px;
          }

          .sub_heading {
              font-size: 16px;
              color: #9093B9;
              font-weight: bold;
              margin-bottom: 30px;
          }

          .perx {
              font-size: 14px;
              color: #9093B9;
              margin-bottom: 50px;
          }
    }
}