.rows {
    display: flex;
    background-color: #FBFBFF;

    @include mq(md, max) {
        flex-flow: wrap;
      }

    .cols {
        flex: 50%;
        margin: 50px auto;
        display: flex;
        align-items: center;

        @include mq(md, max) {
            flex: 0 0 100%;
          }

        &.news {
            overflow-x: auto;;
     
        }

        .inner {
            width: 70%;
            margin: 50px auto;
        }
        .wrappers {
            margin: 0 auto;
            width: 70%;
            flex-wrap: wrap;
            display: flex;
    
            div.boxes {
                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: 30%;
                margin: 5px;
                position: relative;
                display: flex;            /* new */
                align-items: center;      /* new */
                justify-content: center;  /* new */
                text-align: center;
                height: 140px;
                background-color: #ffffff;

                img {
                   max-width: 70%;
                }

                @media (max-width: 1350px) {
                    //width: 170px;
                    height: 130px;
                }

                @media (max-width: 1150px) {
                    //width: 150px;
                    height: 120px;
                }

                @media (max-width: 1050px) {
                    //width: 140px;
                    height: 110px;
                }

                @media (max-width: 950px) {
                    //width: 200px;
                    height: 140px;
                }

                @media (max-width: 750px) {
                    //width: 170px;
                    height: 110px;
                }
            }
          }

          .heading {
            font-size: 36px;
            color: #0A0D27;
            font-weight: bold;
            margin-bottom: 20px;
          }

          .sub_heading {
              font-size: 16px;
              color: #9093B9;
              font-weight: bold;
              margin-bottom: 30px;
          }

          .perx {
              font-size: 14px;
              color: #9093B9;
              margin-bottom: 50px;
          }
    }
}

.imageDetails-footer {
    padding: 6.4rem;

      &.last {
        @media only screen and (min-width: 1310px) {
            margin-bottom: 500px;
          }
    }

    &.last2 {
        margin-bottom: 50px;
    }

    .superb {
        width: 3rem !important;
        height: 3rem !important;
        position: relative;

        img {
            max-height: 20px;
            max-width: 20px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 6px;
            right: 0;
            margin: auto;
        }
    }

    .imageItem {
        text-align: center;
        margin: -10px 0.8rem 0 0.8rem;
        height: 140px;
        width: 20%;
        outline: 0;
        position: relative;
        img {
            width: 12rem;
            display: inline-block;
        }

        @media only screen and (max-width: 600px) {
            height: 100px;
          }

        &:after {
            position: absolute;
            right: 0;
            bottom: 10px;
            left: 0;
            display: block;
            width: 75%;
            height: .32rem;
            margin: 0 auto;
            content: "";
            border-radius: 50%;
            background-color: rgba(10, 13, 39, 0.2);
            -webkit-filter: blur(0.4rem);
            filter: blur(0.4rem);
            transition: 0.3s all ease-in-out;
        }


    }

    .slick-slider {
        padding: 0 80px;
        width: 800px;
        margin: 50px auto 0 auto;

        @media only screen and (max-width: 950px) {
            width: 100%;
          }

        .button {
            width: 2rem;
            height: 2rem;

            img {
                width: 2rem;
            }
        }

        .prev-slick {
            &::before {
                content: none;
            }
        }
        .next-slick {

            &::before {
                content: none;
            }

            .button {
                transform: rotate(180Deg);
            }
        }

        .slick-slide {
            width: 9.6rem!important;
            transform: none;
        }
    }
}

.page-content {
    background-color: $color-bck-light;

    .services {
        padding: 0;

        .clear {
            clear: both;
        }
    }

    .wrapper-profile {
        background-color: #FBFBFF;
        margin-left: 70px;
        width: 1300px;
        padding: 1.5rem;
        border-radius: 16px;

        .wrapper-inner {
            margin-left: 120px;

            h2 {
                font-size: 36px;
                font-weight: bold;
                color: #0A0D27;
                margin-top: 70px;
                margin-bottom: 25px;
            }

            h3 {
                font-size: 16px;
                font-weight: bold;
                color: #9093B9;
            }


            .containers {
                display:flex;
                flex-wrap:wrap;
                flex-direction:row;
                justify-content:flex-start;
                align-items:stretch;
                position: relative;

                .iconic {
                    position: absolute;
                    top: 58px;
                    left: -70px;
                    font-size: 0;
                    color: transparent;
                    width: 37px;
                    height: 40px;
                    border-radius: 0;
                    margin: 0 10px;
                    background-image: url(~@/assets/img/icon-account.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
                }

                .tabs {
                    margin-top: 150px;
                    margin-bottom: 70px;
                    
                    li {
                        display: inline;
                        margin-right: 70px;
                        text-transform: uppercase;
                        padding-bottom: 6px;
                        cursor: pointer;

                        &.selected {
                            border-bottom: 2px solid #394174;
                        }
                    }
                }

                .tabs-content {

                    .is-profile {
                            td {

                                .toggleOption {
                                    margin: 4rem -1.7rem 0 -1.7rem;
                                    padding: 1rem 5.3rem;
                                    border: none;
                                    font-weight: bold;
                                    border-radius: 5rem;
                                    background-color: $color-primary-700;
                                    color: $color-white;
                                    text-transform: uppercase;
                                    cursor: pointer;
                                }

                                &.is-first {
                                    padding: 10px 0;
                                    font-size: 14px;
                                    font-weight: normal;
                                    color: #394174;
                                }

                                &.is-second {
                                    input{
                                        color: #9093B9;
                                        padding: 0 26px;
                                        margin: 5px 0;
                                        line-height: 1;
                                        height: 40px;
                                        width: 100%;
                                        font-size: 14px;
                                        font-weight: lighter;
                                        border-radius: 8px;
                                        border: 1px solid #DDE0ED;
                                        -webkit-appearance: none;
                                        -moz-appearance: none;
                                        appearance: none;
                                    }

                                    input::placeholder{
                                        color: #9093B9;
                                        line-height: 1;
                                        font-size: 14px;
                                        font-weight: lighter;
                                    }
                                }
                            }
                    }
                }
            }
            
            .left {order:1; background:transparent; flex-basis:100%; padding-right: 20px;}
            .right {order:2; background:#F2F3F9;flex-basis:100%; height:664px;}
            
            @media screen and (min-width:600px) {
               .containers {
                   flex-wrap:nowrap;
               } 
            
                .left {
                    flex-basis:1;
                    order:1;
                }
                .right {
                    flex-basis:488px;
                    order:2;
                }
            }
        }
    }
}
