.header {
  &.catalog {
    .header__flex {
      padding: 40px 8.5rem 40px 36.5rem;


      @include mq(md, max) {
        padding: 20px 1.5rem 20px 1.5rem;
      }

      .left-holder {
        flex: 0 1 825px;

        .header__logo {
          @include mq(md, min) {
            display: none;
          }
        }
      }

      .header-search {
        @include mq(lg, max) {
          display: none;
        }

        @include mq(md, max) {
          display: block;
        }

        @include mq(sm, max) {
          display: none;
        }

        input {
          @include mq(xl, max) {
            width: 180px;
          }
        }
      }
    }
  }
}
