.header {
  &.signup {
   background: linear-gradient(to right, $color-bck-dark 40%, #fbfbff 40%);

    .header__logo {
      margin-right: 0;
      @include mq(lg, max) {
        margin-right: 30px;
      }
    }

   .header__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
   }

   .header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 61%;

    @include mq(xxl, max) {
      justify-content: flex-end;
    }
   }

   .header__flex{
    padding: 20px 40px 20px 125px;

    @include mq(lg, max) {
      padding: 20px 1.5rem 20px 1.5rem;
    }
  }


   .header-logo {
     & svg {
       & path {
        fill: white;
       }
     }
   }

   .left-holder {
     flex: 1;
   }

   .search-menu-container { 
      flex: 1;

      @include mq(xxl, max) {
        display: none;
      }
   }

   .header-search {
     input {
      @include mq(xxl, max) {
        width: 150px;
       }
     }
   }

    @include mq(lg, max) {
      background: $color-bck-dark;

      .menu-item a {
        color: white;

        @include mq(md, max) {
          color: #394174;
         }
      }

      .navicon,
      .navicon:before,
      .navicon:after {
        background-color: white;
      }

      .menu-btn:checked .menu-icon .navicon {
        background: transparent;
      }
    }
  }

 
}
