
.menu-btn {
  display: none;
}

.menu-icon {
  display: none;
}

@include mq(md, max) {
  .menu-icon {
    cursor: pointer;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    display: block;

    .navicon {
      background: #333;
      display: block;
      height: 3px;
      position: relative;
      transition: background 0.2s ease-out;
      width: 40px;
      float: right;

      &:before, &:after {
        background: #333;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 100%;
      }

      &:before {
        top: 8px;
      }

      &:after {
        top: -8px;
      }
    }
  }

  .menu-btn:checked ~ .menu {
    max-height: 700px;
    display: block;
  }

  .menu-btn:checked ~ .menu-icon .navicon {
    background: white;
  }

  .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  .menu {
    position: absolute;
    top: 123px;
    left: 0;
    right: 0;
    background: white;
    display: block;
    width: 100%;
    padding: 0 20px 25px;
  }

  .logmenu-top{
    position: relative;
  }
  .close-profile-menu{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent url(~@/assets/img/icon-arrow_left.svg) 0% 50% no-repeat;
    padding-left: 20px;
  }
}


/* menu icon */


